
extends ../layout


block content
  main.flex-shrink-0
    .container
      h1.mt-5 #{software.name}

      .row
        .card-body
          h4
            a(href=`https://${portal.policy.site.expected_name}.gateway.dummy0/`) #{portal.policy.site.expected_name}
              if portal.active
                | active
              else
                | inactive

        if debugViews
          pre.
            #{JSON.stringify(locals, null, 2)}
